doctype HTML
html
    head
        title Emomix
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(src="/socket.io/socket.io.js")
        script(scr="server.js")
        script(src="script.js")
        script(src="jquery.modal.js")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="jquery.modal.css")

        script(type='text/javascript').
            function startTime() {
                var today = new Date();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                m = checkTime(m);
                s = checkTime(s);
                //document.getElementById('txt').innerHTML =
                //h + ":" + m + ":" + s;
                var t = setTimeout(startTime, 500);
            }
            function checkTime(i) {
                if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                return i;
            }

    body(onload="startTime();")
        //div#left
          //  button.createRoom#createRoom Create Room
            //button.enterRoom#enterRoom Enter Room
        div#right
            div#updates
        div.container
            div#welcomeParagraph
            //div#left
                div#top
                    input(type='text')#nameSearch
                    button#search Search
                    p User in the room
                    div#userName
                button.createRoom#createRoom Create Room
            div.modal#nameForm
                p.userNamePara Enter a username:
                input(type='text')#nameInput
                button.myButton#nameSet Set Name
            div#chatEntries.chat
                div#chatEntriesright
            div#chatControls
                input(type='text' required)#messageInput
            div#nbUsersDiv
                p There are 
                    span#nbUsers 
                    |  user(s) in the room
            footer
                p Created by Tarang Khanna, Charlie Su, Junming Guo

       