html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#messageInput {
	width: 830px;
	margin-left: 5px;
}

#chatEntries {
    margin: 40px auto;
    min-height: 310px;
    padding: 10px;
    position:relative;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius:20px;
    background: white;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}